.main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12.063rem;
    height: 2.75rem;
    background: #E1593E;
    gap: 10px;
    border-radius: 8px;
    padding: 10px 15px 10px 20px;
    .content{
        color: white;
    }
    .arrow{
        color: white;
    }
}