.main-header{
    padding: 1.688rem 4.5rem 1.813rem 4.634rem;
    box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.15);
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}