.main-footer{
    padding: 0 5px 0 4px;
    .footer{
        height: 5rem;
        background: rgba(1, 15, 84, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            color: white;
        }
    }
}